 body {  
  font-family: 'Raleway';
  background: #f1f1f1;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}  

.header {
  text-align: center;
  width: 100%;
  display: inline-block;
}
  
.headername {
  background-color: black;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

.parent {  
  white-space: nowrap;
  text-align: center;
}        
    
.left {  
  width: 60%;
  height: 750px;  
  display: inline-block;
  background-color: rgba(255, 99, 71, 0.5);
}  
  
.right { 
  width: 40%;
  height: 750px;  
  display: inline-block;
  background-color: rgba(255, 225, 0, 0.5);
}  

.basement {
  background-color: rgb(210, 210, 210);
  text-align: left;
  padding: 32px;
  font-style: italic
}
  
  @media screen and (max-width: 1000px) {
  .left {
    background-color: rgba(255, 225, 0, 0.5);
  }
  .right {
    background-color: rgba(255, 99, 71, 0.5);
  }
}

.left:hover {
  background-color: black;
}
